language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-c++98-compat -Wno-missing-prototypes -Wno-padded Item.cpp DefensiveItem.cpp HelpfulItem.cpp AttackItem.cpp Utility.cpp Character.cpp Dwarf.cpp Paladin.cpp DragonSlayer.cpp Dragon.cpp main.cpp && ./a.out"
